<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="design.css" rel="stylesheet"type="text/css">
    <link href="about.css" rel="stylesheet"type="text/css">
    
</head>
<body>

    <div class="header">
        <a href="/">
            <img id ="logo" src="logo.png">
        </a>
            <nav>
                <ul class="navigation">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contacts">CONTACTS</a></li>
                    <li><a href="categories">CATEGORIES</a></li>
                    <li><a href="profile">PROFILE</a></li>
                </ul>

                <ul class="nav2">
                    <li class="iconic"><a href="login"><img id ="signup" src="person.png"></a></li>
                    <li class="cart"><a href="cart"><img id ="carticon" src="cart.png"></a></li>
                </ul>
            </nav>         
    </div>
<div id="container">
    <div id="main">

    </div>
    <div id = "about">
        ABOUT US
    </div><br><br>
    <div id = "about2">
        <p>Don and Doff emerged in the trading industry during an enormous demand for medical supplies
            <br> equipment and services amidst the COVID-19 pandemic. We have a vast exposure to an environment 
            <br>where healthcare complies with protocols of International Standard Organizations. We would like 
            <br>to share and introduce a world-class practice in the health industry of the Philippines.
        <br>
        <br>
        Our focus is to provide cost-effective high-quality medical supplies to our front liners starting
        <br> with personal protective equipment and consumables. We strictly follow quality standards
        <br> to ensure the safety of our clients.
        
        <br>
        <br>
        Additional services include maintenance and calibration of medical devices in ICU, OR, Cardiology
        <br> ER and Dentistry.We are in the process of introducing more medical equipment and consumables
        <br> to which will cater the needs of our clients. You can avail for our technical support, repair 
        <br>services of medical machines and operational lectures/trainings which can all be arranged.
        <br> For other products and technical services, kindly feel free to contact us.
        </p>
    </div>
    <div id = "about1">
        <img id ="loc" src="home.png"><br>&nbsp;
        Address:<br>
        <li>Culis, Hermosa, Bataan</li>
</div><br>
    <div id="faqs">
        FREQUENTLY ASKED QUESTIONS<br><br>
        <li>FAQ # 1</li> &nbsp;&nbsp;
            <div id ="f1" >In which areas are you available in selling your products?
                <br>
                <br><h4>Answer:</h4><br> As of the moment, we are only available to process orders within
                <br> Quezon City and Bataan.
            </div>
            <li>FAQ # 2</li>&nbsp;&nbsp;
            <div id ="f2" >Do you plan to expand the areas of where you can process your orders?
            <br>
                <br><h4>Answer:</h4><br> Yes, we will be able to conduct business nationwide soon.
            </div>
            <li>FAQ # 3</li>&nbsp;&nbsp;
            <div id ="f3" >Do you also provide services? If yes, which services are available?
            <br>
                <br><h4>Answer:</h4><br> We also provide services. You may read more about the services
                <br> we offer above.
            </div>
    </div>


    <footer class="footer">
        <div class="footer-content">

        </div>
        <ul class="navigation2">
            <li><a href="categories">Products</a></li>
            <li><a href="about">FAQs</a></li>
            <li><a href="contacts">Contact Us</a></li>

            
        </ul>
        <div class="footer-bottom">
            &copy; Copyright 2020 Don and Doff Medical Equipment Trading - All Rights Reserved
        </div>

</footer>
</body>
</html>