<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link href="categories.css" rel="stylesheet"type="text/css">
</head>
<body>

    <div class="header">
        <a href="/">
            <img id ="logo" src="logo.png">
        </a>
            <nav>
                <ul class="navigation">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contacts">CONTACTS</a></li>
                    <li><a href="categories">CATEGORIES</a></li>
                    <li><a href="profile">PROFILE</a></li>
                </ul>

                <ul class="nav2">
                    <li class="iconic"><a href="login"><img id ="signup" src="person.png"></a></li>
                    <li class="cart"><a href="cart"><img id ="carticon" src="cart.png"></a></li>
                </ul>
            </nav>         
    </div>
<div id="container">
    <div id="main">

        <div id = "categories">
            <br>
            <h1>
            <center>
            CATEGORIES
            </h1>
            </center>
        </div>
        <br><br>
        <div class = "center">
        <div class="photos">
            <a href="masks"><img src="coppermask.jpg" alt="" width="250" height = "300"></a><br>
            <p><a href="masks"><b>MASK</b></a></p>
        </div>
        <div class="photos">
            <a href="gloves"><img src="gloves.jpg" alt="" width="250" height = "300"></a><br>
            <p><a href="gloves"><b>GLOVES</b></a></p>
        </div>
        <div class="photos">
            <a href="ppe"><img src="ppe.jpg" alt="" width="250" height = "300"></a><br>
            <p><a href="ppe"><b>PPE</b></a></p>
        </div>
        </div>
        
    </div>
</div>

    <footer class="footer">
        <div class="footer-content">

        </div>
        <ul class="navigation2">
            <li><a href="categories">Products</a></li>
            <li><a href="about">FAQs</a></li>
            <li><a href="contacts">Contact Us</a></li>
        </ul>
        <div class="footer-bottom">
            &copy; Copyright 2020 Don and Doff Medical Equipment Trading - All Rights Reserved
        </div>

</footer>
</body>
</html>