<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link href="design.css" rel="stylesheet"type="text/css">
    <link href="note.css" rel="stylesheet"type="text/css">
</head>
<body>

    <div class="header">
        <a href="/">
            <img id ="logo" src="logo.png">
        </a>
            <nav>
                <ul class="navigation">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contacts">CONTACTS</a></li>
                    <li><a href="categories">CATEGORIES</a></li>
                    <li><a href="profile">PROFILE</a></li>
                </ul>

                <ul class="nav2">
                    <li class="iconic"><a href="login"><img id ="signup" src="person.png"></a></li>
                    <li class="cart"><a href="cart"><img id ="carticon" src="cart.png"></a></li>
                </ul>
            </nav>         
    </div>
<div id="container">
    <div id="main"></div>
    
    <div id = "contact">
        OUR CONTACTS
    </div>
    
    <div id = "contact1">
        <img id ="email" src="home.png"><br>&nbsp;
        Address:<br>
        <li>Culis, Hermosa, Bataan</li>
        <div id= contact11>
        <img id ="email" src="apple.png"><br>&nbsp;
        Phone:<br>
       <li>Landline: +63472372701</li>
        <li>Mobile:  +639954539941</li>
    </div>
    </div>
    <div id = "contact2">
        <img id ="email" src="gmail.png"><br>&nbsp;
        E-mail:<br>
       <li>info@donanddoff.com.ph</li>
        <li>sales@donanddoff.com.ph</li>
    </div>
   
</div>

    <footer class="footer">
        <div class="footer-content">

        </div>
        <ul class="navigation2">
            <li><a href="categories">Products</a></li>
            <li><a href="about">FAQs</a></li>
            <li><a href="contacts">Contact Us</a></li>

            
        </ul>
        <div class="footer-bottom">
            &copy; Copyright 2020 Don and Doff Medical Equipment Trading - All Rights Reserved
        </div>

</footer>
</body>
</html>