<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloves</title>
    <link href="gloves.css" rel="stylesheet"type="text/css">
</head>
<body>

    <div class="header">
        <a href="/">
            <img id ="logo" src="logo.png">
        </a>
            <nav>
                <ul class="navigation">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contacts">CONTACTS</a></li>
                    <li><a href="categories">CATEGORIES</a></li>
                    <li><a href="profile">PROFILE</a></li>
                </ul>

                <ul class="nav2">
                    <li class="iconic"><a href="login"><img id ="signup" src="person.png"></a></li>
                    <li class="cart"><a href="cart"><img id ="carticon" src="cart.png"></a></li>
                </ul>
            </nav>         
    </div>
    
<div id="container">
    <div id="main">
        <h1>
        <center>
        GLOVES
        </h1>
        </center>
        <div class = "center">
            <% items.forEach(function(item){ %>
                <div class="product-container">
                    <div class="thumbnail"><br>
                        <img class = "mask1" src="<%= item.image %>" alt="" width="325" height="400"><br>
                    </div>
                    <div class="product">
                        <br><%= item.name %>
                    </div>
                    <br>
                    <div class="description">
                        <!-- Fill me up -->
                    </div>
                    <div class="center2">
                        <form method="POST" action="/api/cart/add">
                            <input type="hidden" name="itemId" value="<%= item._id %>">
                            <p id="qty-label">Quantity: </p>
                            <input class = "digit" type="number" id="quantity" name="qty" min="1" max="999">
                            <br><br>
                            <button class = "order" type="submit" value="Submit">ADD TO CART</button>
                        </form>
                    </div>
                </div>
            <% }) %>
            <div class = "return">
                <center><a href="categories">
                    <input type="submit" value="Return" class="btn">
                    </a></center>   
            </div>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="footer-content">

        </div>
        <ul class="navigation2">
            <li><a href="categories">Products</a></li>
            <li><a href="about">FAQs</a></li>
            <li><a href="contacts">Contact Us</a></li>
        </ul>
        <div class="footer-bottom">
            &copy; Copyright 2020 Don and Doff Medical Equipment Trading - All Rights Reserved
        </div>

</footer>
</body>
</html>