<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="homepage.css" rel="stylesheet"type="text/css">
</head>
<body>

    <div class="header">
        <a href="/">
            <img id ="logo" src="logo.png">
        </a>
            <nav>
                <ul class="navigation">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contacts">CONTACTS</a></li>
                    <li><a href="categories">CATEGORIES</a></li>
                    <li><a href="profile">PROFILE</a></li>
                </ul>

                <ul class="nav2">
                    <li class="iconic"><a href="login"><img id ="signup" src="person.png"></a></li>
                    <li class="cart"><a href="cart"><img id ="carticon" src="cart.png"></a></li>
                </ul>
            </nav>         
    </div>
    
<div id="container">
    <div id="main">
        <h1> 
        <center>
            <br><br><br>
            Don & Doff<br>
            Medical Equipment Trading<br>
        </center>
        </h1>
        <br><br><br><br><br><br><br><br>

        <div id = "featured">
        <h1>
        <center>
        FEATURED PRODUCTS
        </h1>
        </center>
        <div class = "center">
            <div class="thumbnail"><br>
            <img src="n95.jpg" alt="" width="325" height="400"><br>
            </div>
                <div class="product">
                <br>
                N95 MASK
                </div>
                <br>
                <div class = "description">
                    Preferred mask as per Center 
                    <br>
                    for Disease and Prevention
                    <br>
                    which meet the US standards
                    <br>NIOSH certification.
                </div>
                <a href = "cart"><button class = "order" type="submit" form="form1" value="Submit">ORDER&nbsp;NOW</button></a>

            <br class="clearboth">
            <br><br>
                <div class="product2">
                <br>
                COPPER MASK
                <br>
                <div class = "description">
                    <br><br>
                    Stylish mask with filters
                    <br>
                    for added protection.
                </div>        
                <a href = "cart"><button class = "order" type="submit" form="form1" value="Submit">ORDER&nbsp;NOW</button></a>         
                </div>
                
                <img src="coppermask.jpg" alt="" width="325" height="400"><br>
                
                
                <br><br>
            </div>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="footer-content">

        </div>
        <ul class="navigation2">
            <li><a href="categories">Products</a></li>
            <li><a href="about">FAQs</a></li>
            <li><a href="contacts">Contact Us</a></li>
        </ul>
        <div class="footer-bottom">
            &copy; Copyright 2020 Don and Doff Medical Equipment Trading - All Rights Reserved
        </div>

</footer>
</body>
</html>