<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link href="inventorypanel.css" rel="stylesheet"type="text/css">
</head>
<body>

    <div class="header">
        <a href="/">
            <img id ="logo" src="logo.png">
        </a>
            <nav>
                <ul class="navigation">
                    <li><a href="inventorypanel">INVENTORY</a></li>
                </ul>
            </nav>         
    </div>
    
    
<div id="container">
    <div id="main">
        <h1>Inventory</h1>
        <h2>&nbsp;>></h2>
        <h2>&nbsp;Categories</h2>
        <h3>
            <a href="maskinventory">Masks</a>
            <br>
            <a href="glovesinventory">Gloves</a>
            <br>
            <a href="ppeinventory">PPE</a>
        </h3>
    </div>
    <a href="admin_logout" id="logout">
        Logout
    </a>
</div>

    <footer class="footer">
        <div class="footer-content">

        </div>
        <ul class="navigation2">
            <li><a href="categories">Products</a></li>
            <li><a href="about">FAQs</a></li>
            <li><a href="contacts">Contact Us</a></li>
        </ul>
    
        <div class="footer-bottom">
            &copy; Copyright 2020 Don and Doff Medical Equipment Trading - All Rights Reserved
        </div>

</footer>
</body>
</html>